mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

/* Update mat-sidenav background color and font color */
mat-sidenav {
  background-color: #1c2b36 !important; /* Set background color to blue */
  color: white !important; /* Set font color to white */
  width: 250px !important;
  border-top-right-radius: 0px !important;
}

/* Ensure the styles are applied to the specific list item */
.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; /* Set default text color to white */
}

/* Change font color of icon and text when hovering over the item */
.nav-item:hover,
.nav-item:hover mat-icon,
.nav-item:hover .nav-text {
  color: #209e91 !important; /* Apply cyan color on hover */
}

/* Style for active/selected list item */
.list-item-active,
.list-item-active mat-icon,
.list-item-active .nav-text {
  color: cyan !important; /* Set selected item color to cyan */
}

mat-sidenav-content {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-color: #1c2b36;
}

mat-icon {
  color: #05234f;
  font-family: 'Material Icons';
  vertical-align: middle;
  margin-right: 10px;
}

a.tog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  margin-left: -20px;
}

a.tog:hover {
  background-color: #e0e0e0;
  color: #3f51b5; 
}

a.tog:active {
  background-color: #c0c0c0;
  color: #303f9f; 
}

a.tog mat-icon {
  font-size: 24px;
}

/* Apply white text color to all elements inside sidenav */
mat-sidenav * {
  color: white !important;
}

.nav-item.list-item-active 
{
  background-color: cyan !important;
}