<mat-nav-list>
    <div class="logo py-4">
      <img src ="C:\Angular\Expenso\src\app\components\sidenav\Expenso.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h3 matSubheader class="mt-2">Expenso</h3>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense">
      <mat-icon>local_atm</mat-icon> Expense 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/report"> 
      <mat-icon>report</mat-icon> Reports 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics"> 
      <mat-icon>table_chart_view</mat-icon> Analytics 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings"> 
      <mat-icon>settings</mat-icon> Settings 
    </a>
  </mat-nav-list>