<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side" [opened]="isExpanded"  class="sidenav">
    <mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" [ngClass]="{'collapsed': !isExpanded}">
    <mat-icon>dashboard</mat-icon> 
    <span *ngIf="isExpanded"> Dashboard </span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense" [ngClass]="{'collapsed': !isExpanded}">
    <mat-icon>local_atm</mat-icon> 
    <span *ngIf="isExpanded"> Expense </span> 
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/report" [ngClass]="{'collapsed': !isExpanded}"> 
    <mat-icon>report</mat-icon>
    <span *ngIf="isExpanded"> Reports </span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics" [ngClass]="{'collapsed': !isExpanded}"> 
    <mat-icon>table_chart_view</mat-icon> 
    <span *ngIf="isExpanded"> Analytics </span> 
    </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings" [ngClass]="{'collapsed': !isExpanded}"> 
    <mat-icon>settings</mat-icon> 
    <span *ngIf="isExpanded"> Settings </span> 
  </a>

</mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
  <a class="tog" mat-icon-button (click)="toggleSidebar()">
    <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </a>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>







<!--<mat-nav-list>
    <div class="logo py-4">
      <img src ="C:\Angular\Expenso\src\app\components\sidenav\Expenso.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h3 matSubheader class="mt-2">Expenso</h3>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense">
      <mat-icon>local_atm</mat-icon> Expense 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/report"> 
      <mat-icon>report</mat-icon> Reports 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics"> 
      <mat-icon>table_chart_view</mat-icon> Analytics 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings"> 
      <mat-icon>settings</mat-icon> Settings 
    </a>
  </mat-nav-list> -->