<!-- sidenav.component.html -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isExpanded" class="sidenav">
    <mat-nav-list>
      <!-- Default Menu Items -->
      <ng-container *ngIf="!isAdmin">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">dashboard</mat-icon>
          <span class="nav-text">Dashboard</span>
        </a>
        <a mat-list-item routerLink="/expense" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">local_atm</mat-icon>
          <span class="nav-text">Expense</span>
        </a>
        <a mat-list-item routerLink="/report" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">report</mat-icon>
          <span class="nav-text">Reports</span>
        </a>
        <a mat-list-item routerLink="/analytics" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">table_chart</mat-icon>
          <span class="nav-text">Analytics</span>
        </a>
        <a mat-list-item (click)="adminClicked()" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">admin_panel_settings</mat-icon>
          <span class="nav-text">Admin View</span>
         <!-- <mat-icon class="nav-icon">keyboard_arrow_down</mat-icon> -->
        </a>
      </ng-container>

      <!-- Admin Menu Items -->
      <ng-container *ngIf="isAdmin">

      
        <a mat-list-item routerLink="/user-management" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">group</mat-icon>
          <span class="nav-text">User Management</span>
        </a>
        <a mat-list-item routerLink="/app-report" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">bar_chart</mat-icon>
          <span class="nav-text">App Report</span>
        </a>
        <a mat-list-item routerLink="/app-overview" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">dashboard</mat-icon>
          <span class="nav-text">App Overview</span>
        </a>
        <a mat-list-item (click)="adminClicked()" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">arrow_back</mat-icon>
          <span class="nav-text">Back to User view</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <a class="tog" mat-icon-button (click)="toggleSidebar()">
      <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </a>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
