


mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
}

mat-sidenav {
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
  width: 200px
}

.mat-list-item {
  display: block;
  color: #8a99ae !important;
  align-items: center;
  padding: 12px 16px; 
  &:hover {
    color: #031623 !important;
    cursor: pointer;
  }
}

mat-nav-list a {
  color: inherit; 
  text-decoration: none;
}

mat-nav-list a:hover {
  color: #d4d7e8;
  text-decoration: none;
}

mat-sidenav-content{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
mat-icon{
  color: #05234f;
  font-family: 'Material Icons';
  vertical-align: middle;
  margin-right: 10px;
}


a.tog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

a.tog:hover {
  background-color: #e0e0e0;
  color: #3f51b5; 
}

a.tog:active {
  background-color: #c0c0c0;
  color: #303f9f; 
}

a.tog mat-icon {
  font-size: 24px;
}

