.example-spacer {
    flex: 1 1 auto;
  }

  .transparent-padding {
    display: flex;
    padding-top: 20px; /* Adjust padding as needed */
    background-color: transparent;
    margin: 10px;
  }

  .custom-toolbar {
    background-color: #1c2b36; /* Change this to your desired color */
    color: rgb(8, 6, 6); /* This changes the text color */
}
.name{
    color: aliceblue;
}

.example-icon{
    color: aliceblue;
}


/*.header {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 40px;
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-search {
    display: flex;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px; 
}

.header-search input {
    border: none;
    outline: none;
    padding: 2px;
    font-size: 14px;
    background-color: transparent;
    color: white;
}

::placeholder {
    color: aliceblue;
}
.header-search .material-icons {
   margin-right: 5px;
    color: white;
}

.header-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notify{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notify .material-icons {
    margin-right: 5px;
}

.header-user .material-icons {
    margin-right: 5px;
}
*/