
<header class="header">
    <div class="header-logo">
        <img src="assets/images/logo.png" alt="Logo">
        <span>Intellicloud Solutions</span>
    </div>
    
    <div class="header-search">
        <span class="material-icons">search</span>
        <input  type="text" placeholder="Search..."  />
        <div class="notify">
            <span class="material-icons">circle_notifications</span>
    <div class="header-user">
        <span class="material-icons">account_circle</span>
    </div>
   </div>
    </div>
</header>