.vh-100 {
    height: 100vh;
    background-image: url('/../../../assets/expenso.jpg'); /* Path relative to the 'src' folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .inputName{
    background: 0 0;
    caret-color: white;
    color: white;
  }

  .inputName::placeholder{
    color: aliceblue;
    opacity:1;
  }

  .login-class{
    color: white;
  }
  .register-link{
    color: #209e91;
  }

  .login-button
  {
    width:368px;
    background-color: #209e91
    
  }

  link-info{
    cursor: pointer !important;
  }
 